@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary: #1cac78;
    --secondary: #3cb371;
    --primary-1: #78866b;
    --white: #ffffff;
    --dark-1: #222831;
    --dark-2: #393E46;
    --white-1: #F2F2F2;
    --black: #000000;
    --text: #999999;
    --aqi-1: #d4e157;
    --aqi-2: #ffee58;
    --aqi-3: #ffca28;
    --aqi-4: #ff7043;
    --aqi-5: #ef5350;
}

html {
    font-size: 12pt;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: var(--dark-2);

}

.container {
    width: 100%;
    height: auto;
    padding: 10px 0;
}

.flex-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.header {
    background-color: var(--dark-1);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.header>div {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    align-items: flex-start;
}

.header>div>p {
    color: var(--text);
    font-size: 1.5rem;
    font-weight: 500;
}

.header>div>i {
    color: var(--text);
    font-size: 1.8rem;
    font-weight: 500;
}

.header .nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header .nav-btn input {
    background-color: var(--white);
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
}

.header .nav-btn input:focus {
    outline: none;
}

.header .nav-btn>button {
    text-wrap: nowrap;
    background-color: var(--primary);
    color: var(--white-1);
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.header .nav-btn>button:hover {
    background-color: var(--secondary);
}

@media screen and (max-width:900px) {
    .container .header {
        flex-direction: column;
    }
}

section .container .weather-data .weather-left .card hr{
    margin: 20px 0 ;
}

section .container .weather-data {
    display: flex;
    align-items: start;
    /* padding: 20px; */
    width: 100%;
    justify-content: center;
    gap: 20px;
}

section .container .weather-data .weather-left {
    width: 400px;
}

section .container .weather-data .weather-left .card {
    background-color: var(--dark-1);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px 0;
}

section .container .weather-data .weather-left .card .current-weather {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
}

section .container .weather-data .weather-left .card .current-weather .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

section .container .weather-data .weather-left .card .card-footer {
    width: 100%;
}

section .container .weather-data .weather-left .card .current-weather .details p {
    font-size: 1rem;
    color: var(--white);
}


.weather-data .weather-left .card .current-weather .details h2 {
    font-size: 2.5rem;
    color: var(--white);
    font-weight: 500;
    text-wrap: nowrap;
    word-wrap: nowrap;
}

.weather-data .weather-left .card .current-weather .weather-icon {
    width: 40%;
}

.weather-data .weather-left .card .current-weather .weather-icon img {
    max-width: 100%;
}

hr {
    border: 2px solid var(--white);
}

.weather-data .weather-left .card .card-footer {
    padding: 1rem 2rem;
    text-align: start;
    color: var(--text);
}

.weather-data .weather-left .card .card-footer p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.weather-data .weather-left .card .card-footer i {
    font-size: 1.5rem;

}

.weather-data .weather-left .card .card-footer p {
    padding: 5px 0;
}

.weather-data .weather-left .card .card-footer p a {
    color: var(--text);
    text-decoration: none;
}

.weather-data .weather-left .card>h2 {
    text-align: center;
    color: var(--white);
    font-size: 1.8rem;
    padding: 15px;
}

.weather-data .weather-left .card {
    padding-bottom: 10px;
}

.weather-data .weather-left .card .day-forecast {
    width: 100%;
}

.weather-data .weather-left .card .day-forecast .forecast-item {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px 0;
}

.weather-data .weather-left .card .day-forecast .forecast-item .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}

.card .day-forecast .forecast-item .icon-wrapper {
    color: var(--white);
    font-size: 1.2rem;
}

.card .day-forecast .forecast-item p {
    color: var(--text);
    font-size: 1rem;
}

.weather-data .weather-right {
    width: 70%;
    /* background-color: var(--dark-1); */
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.weather-data .weather-right h2 {
    color: var(--white);
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.weather-data .weather-right .Air-quality {
    width: 100%;
    background-color: var(--dark-1);
    padding: 10px;
    border-radius: 8px;
}

.weather-data .weather-right .Air-quality>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-data .weather-right .Air-quality .head {
    padding: 10px;

    & p {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--text);
        text-transform: capitalize;

        & i {
            font-size: 1.5rem;
        }
    }

    & a {
        text-decoration: none;
        color: var(--white);
        background-color: var(--primary);
        border-radius: 10px;
        padding: 5px 10px;
    }

    & .aqi-1 {
        background-color: var(--aqi-1);
    }

    & .aqi-2 {
        background-color: var(--aqi-2);
    }

    & .aqi-3 {
        background-color: var(--aqi-3);
    }

    & .aqi-4 {
        background-color: var(--aqi-4);
    }

    & .aqi-5 {
        background-color: var(--aqi-5);
    }

    & a:hover {
        background-color: var(--secondary);
    }
}
.headofHiglight{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 0;
}
.headofHiglight h3{
    background-color: var(--primary);
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 2em;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.weather-data .weather-right .Air-quality .icon>i {
    font-size: 3rem;
    color: var(--white);
}

.weather-data .weather-right .Air-quality .air-data {
    margin-top: 20px;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.weather-data .weather-right .Air-quality .air-data>.air {
    color: var(--text);
    font-size: 1rem;
}

.weather-data .weather-right .Air-quality .air-data>.air>h3 {
    color: var(--white);
    font-size: 1.5rem;
}

.SunriseSunset {
    width: 55%;
    /* height: 180px; */
    background-color: var(--dark-1);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.SunriseSunset>div {
    width: 50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 10px;
    /* text-align: center;z */

    & i {
        font-size: 3rem;
        color: var(--white);
    }

}

.SunriseSunset h3 {
    padding: 10px;
    color: var(--text);
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-weight: 500;
    font-size: 1.2rem;

}

.SunriseSunset i {
    font-size: 1.5rem;
}

.SunriseSunset div>div>p {
    color: var(--text);
    font-size: 1rem;
}

.SunriseSunset div>div>h4 {
    color: var(--white);
    font-size: 1.8rem;
}

.temprature{
    flex-grow: 1;
    background-color: var(--dark-1);
    width: 43%;
    /* height: 180px; */
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    

    & h3{
        width: 100%;
        padding: 10px;
        font-size: 1.2rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--text);
        text-transform: capitalize;

        & i {
            font-size: 1.5rem;
        }
    }
}
.temprature > div{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    align-items: center;

    & i{
        font-size: 3rem;
        color: var(--white);
    }
    & p{
        font-size: 1rem;
        color: var(--text);
    }
    & h1{
        color: var(--white);
        font-size: 1.8rem;
    }
}
.other-details{
    width: 100%;
    /* background-color: var(--dark-1); */
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    
}
.other-details > div{
    background-color: var(--dark-1);
    padding: 10px;
    width: 23%;
    min-width: 200px;
    flex-grow: 2;
    border-radius: 8px;
    /* height: 130px; */
}
.other-details .humidity{
    flex-grow: 0;
}
.other-details > div > p{
    padding: 10px;
    color: var(--text);
    font-size: 1rem;
}
.other-details > div > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
.other-details > div > div > i{
    color: var(--white);
    font-size: 3.5rem;
}
.other-details > div > div > h3{
    color: var(--white);
    font-size: 1.8rem;

}